:root {
    --primary-color: #f2f2f2;
    --secondary-color: #333333;
    --tertiary-color: #ffffff;
    --fourth-color: #666666;
    --fifth-color: #ccc;
    --six-color: #555555;
    --danger-color: #ffc7c7;
}


* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
  margin-top: 2rem;
}

form {
    background-color: var(--tertiary-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
}

label {
  color: var(--fourth-color);
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="file"],
input[type="text"],
input[type="number"] {
  box-sizing: border-box;
  border: 1px solid var(--fifth-color);
  border-radius: 3px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}


form > button {
  background-color: var(--six-color);
  border: none;
  border-radius: 3px;
  color: var(--tertiary-color);
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s ease;
}

form > button:hover {
  background-color: var(--secondary-color);
}

label > span {
    font-weight: 100;
    color: var(--fourth-color);
}
span.info
{
    display: block;
}

#alert {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  max-width: 600px;
  background-color: var(--danger-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

#alert h2 {
  font-size: 20px;
  margin-top: 0;
}

#alert p {
  margin-bottom: 0;
}

#alert a {
  color: var(--secondary-color);
  text-decoration: none;
  float: right;
}

#closeAlert {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #888;
  cursor: pointer;
}

.hidden{
    display: none;
}

.indeterminate-progress-bar {
    /* Color */
    background-color: #d1d5db;

    /* Rounded border */
    border-radius: 9999px;

    /* Size */
    height: 0.5rem;
    width: 100%;

    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.indeterminate-progress-bar__progress {
    /* Color */
    background-color: #3b82f6;

    /* Rounded border */
    border-radius: 9999px;

    /* Absolute position */
    position: absolute;
    bottom: 0;
    top: 0;
    left: -50%;
    width: 50%;
}
.actived {
    /* Move the bar infinitely */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
}

.finished {
    width: 100%;
}

@keyframes indeterminate-progress-bar {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}
